<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This project was built by <a target="_blank" href="http://github.com/phearn">Philip</a>, who is an aspiring software and web developer.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me_rhett.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 com-sm-offset-1">
    <h2 class="text-center">Philip Hearn</h2>
    <br />
    <p>
      Philip Hearn is currently working in web and graphic design but is learning how to develop software through <a href="http://www.thefirehoseproject.com"> the Firehose Project</a>.
    </p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />