@import "bootstrap-sprockets";
@import "bootstrap";

.clear {
  clear:both;
} 

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    background: #2830a0;
    border-radius: 10%;
    border: 0px;
    width: 120px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
}

.slogan {
  font-family: 'ambleregular', sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  }

.links {
  padding-top:26px;
  }

.links a {
  color:black;
  font-size: 18px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'amblebold', sans-serif;
  font-weight:bold;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'amblebold', sans-serif;
  font-weight:bold;
  font-size:32px;
}

h2 {
  font-family: 'ambleitalic', sans-serif;
  font-style:italic;
  font-size:25px;
}

.next-quote {
  color:#f84342;
  font-family: 'amblelight_condensed_italic', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.footer-blurb {
  font-family: 'ambleregular', sans-serif;
  text-align: right;
  font-size: 14px;
}

.logo:hover {
  text-decoration: none;
}